a {
  color: #2bc4ad;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.about-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.background {
  height: 615px;
  width: 1349px;
  margin: 0;
}

.bottom-container {
  background-color: #ffbeba;
  padding: 50px 0 20px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
  color: #322453;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.design-img {
  width: 29%;
  float: right;
  margin-right: 30px;
}
.favicon{
  width: 1.2%;
  margin: 10px 10px -2px 0;
}
h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #2bc4ad;
  position: absolute;
  top: 32%;
  right: 10%
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #322453;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #FF85B3;
}

h4 {
  color: #322453;
}

hr {
  border: dotted #DDDDDD 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.intro {
  line-height: 2;
}
.linkedin{
  width: 1.2%;
  margin: 10px 10px -3px 0;
}
.middle-container {
  margin-top: -4px;
  background-color: #adfffb;
}

p {
  line-height: 2;
}

.profile-img {
  width: 13%;
  margin-top: 100px;
}

.pro {
  text-decoration: underline;
}

.sub {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  color: #2bc4ad;
  font-size: 170%;
  position: absolute;
  top: 58%;
  right: 15%
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.twitter{
  width: 1.5%;
  margin: 10px 10px -5px 0;
}
